/*------------------------------------------------------------
- Buttons
------------------------------------------------------------*/

/*----- Theme Button Section ------*/

.theme-btn {
    font-size: 16px;
    font-family: $sans-serif;
    font-weight: $font-weight-bold;
    border-radius: 4px;
    line-height: 2.5;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    text-transform: capitalize;
    color: $color-white;
    background: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
        background: $color-secondary;
        border-color: $color-secondary;
        color: $color-white;
    }
}

/*----- Button Section ------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $sans-serif;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    display: inline-block;
    font-size: em(19);
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    line-height: 3em;
    color: $color-white;
    background-image: linear-gradient(to right, #0076c5 10%, #0090f1 50%);
    background-repeat: no-repeat;
    background-size: 200% auto;
    border: 1px solid $color-primary;
    transition: background-position 0.5s;
    padding: 0 20px;
    border-radius: 5px;
    min-width: 280px;
    @include breakpoint(x-large) {
       min-width: 200px;
        font-size: em(16);
    }
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    box-shadow: none;
    background-position: 100% 0;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}