/*------------------------------------------------------------
- Banner
------------------------------------------------------------*/

.banner-wrapper {
    padding: 90px 0px;
    text-align: center;
    z-index: 1;
    @include bg-cover(cover, center);
    background-attachment: fixed;
    @include breakpoint(x-large) {
        padding: 60px 0px;
    }
    .banner-content {
        .logo-wrap {
            margin-bottom: 50px;
            a {
                display: inline-block;
                img {
                    @include breakpoint(x-large) {
                        max-width: 110px;
                    }
                }
            }
        }
        h1 {
            color: $color-white;
            letter-spacing: normal;
            margin-bottom: 30px;
            font-weight: $font-weight-bold;
        }
        .content-sec {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15%;
            margin-bottom: 80px;
            @include breakpoint(x-large) {
                margin-bottom: 50px;
            }
            .text-sec {
                p {
                    font-weight: $font-weight-light;
                    font-size: em(30);
                    color: $color-white;
                    @include breakpoint(x-large) {
                        font-size: em(24);
                    }
                }
                span {
                    font-weight: $font-weight-light;
                    font-size: em(25);
                    color: $color-white;
                    @include breakpoint(x-large) {
                        font-size: em(20);
                    }
                }
            }
        }
        .btn-wrap {
            li {
                list-style: none;
                display: inline-block;
                margin-right: 30px;
                transition: all 0.3s ease-in-out 0s;
                &:last-child {
                    margin-right: 0px;
                }
                a {
                    color: $color-white;
                    font-size: em(32);
                    font-weight: $font-weight-medium;
                    background: rgba(225, 225, 225, 0.1);
                    padding: 0 30px;
                    line-height: 2.5;
                    display: inline-block;
                    border: 1px solid $color-white;
                    border-radius: 3px;
                    @include breakpoint(x-large) {
                        font-size: em(25);
                    }
                    &:hover {
                        background: $color-primary;
                    }
                }
                &:hover {
                    transform: translateY(-6px);
                }
            }
        }
    }
}