/*---------------------------------------------------------------
- Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background-image: linear-gradient(to right, #007ed2 10%, #008eef 50%);
    background-repeat: no-repeat;
    background-size: 200% auto;
    padding: 20px 0px;
    .copyright-sec {
        text-align: center;
        span {
            font-size: em(16);
            color: $color-white;
        }
    }
}