/*----------------------------------------------
- Custom Css
----------------------------------------------*/

.container {
    @media only screen and (min-width: 1500px) {
        max-width: 1470px;
    }
}

.section {
    padding: 70px 0px;
    .sec-title {
        text-align: center;  
        margin-bottom: 60px;
        h3 {
            color: $color-black;
            margin-bottom: 0px;
            line-height: 1.3em;
        }
    }
    @include breakpoint(x-large) {
        padding: 50px 0px;
    }
}