/*------------------------------------------------------------
- Parameters
------------------------------------------------------------*/
// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

// Colors
$color-primary: #007ed2;
$color-secondary: #666666;
$color-light: #e0e0e0;
$color-lightest: #e7e7e7;
$color-darkest: #f6f6f6;
$color-grey: #f1f1f1;
$color-brand: #23a8e0;
$color-white: #ffffff;
$color-black: #000000;

// Font Size
$font-size-biggest: 2.8rem;
$font-size-largest: 2.3rem;
$font-size-large: 1.2rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-smallest: .75rem;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;

// Font Family
$sans-serif: 'Montserrat', sans-serif;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;


// Animation
$anime-in: .4s;
$anime-out: .5s;

// Base Font
$base-font-size: 16;