/*------------------------------------------------------------
- Home Page
------------------------------------------------------------*/

/*----- Services Section -----*/

.services-wrap {
    .grid-item {
        background-image: linear-gradient(to right, #0076c5 10%, #0090f1 50%);
        background-repeat: no-repeat;
        background-size: 200% auto;
        padding: 30px;
        height: 338px;
        @include breakpoint(x-large) {
            height: 300px;
        }
        h3 {
            color: $color-white;
            font-weight: $font-weight-medium;
            margin-bottom: 15px;
        }
        .content {
            display: flex;
            justify-content: space-between;
            ul {
                width: 70%;
                li {
                    list-style: none;
                    font-size: em(32);
                    font-weight: $font-weight-light;
                    color: $color-white;
                    position: relative;
                    padding-left: 40px;
                    line-height: 1;
                    margin-bottom: 20px;
                    @include breakpoint(x-large) {
                        font-size: em(24);
                    }
                    &:before {
                        content: "\f058";
                        font-family: FontAwesome;
                        position: absolute;
                        left: 0;
                        top: 0;
                        
                    }
                }
            }
            figure {
                width: 30%;
            }
        }
    }
}

/*----- Win Card Section -----*/

.win-card-wrap {
    background: $color-grey;
    .win-card-sec {
        display: flex;
        justify-content: space-between;
    }
    .content-sec {
        width: 905px;
        margin-right: 25px;
        @media only screen and (max-width: 1500px) {
            width: 700px;
        }
        figure {
            margin-bottom: 50px;
            @include breakpoint(x-large) {
                margin-bottom: 35px;
            }
        }
        h3 {
            color: $color-black;
            font-weight: $font-weight-medium;
            margin-bottom: 40px;
            @include breakpoint(x-large) {
                margin-bottom: 25px;
            }
        }
        p {
            font-weight: $font-weight-regular;
            color: #020202;
            font-size: em(25);
            margin-bottom: 0px;
            line-height: 2;
            @include breakpoint(x-large) {
                font-size: em(20);
            }
        }
    }
    .contact-form {
        width: calc(100% - 905px);
        background: $color-white;
        box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.35);
        @media only screen and (max-width: 1500px) {
            width: calc(100% - 700px);
        }
        .top-sec {
            background-image: linear-gradient(to right, #0076c5 10%, #0090f1 50%);
            background-repeat: no-repeat;
            background-size: 200% auto;
            padding: 10px 20px;
            P {
                font-size: em(23);
                color: $color-white;
                font-weight: $font-weight-regular;
                margin-bottom: 0px;
                @include breakpoint(x-large) {
                    font-size: em(20);
                }
            }
        }
        form {
            padding: 20px 30px 30px;
            ul {
                text-align: center;
                margin: 0 auto 20px;
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

/*------ Let Us Know ------*/

.let-us-wrap {
    .sec-title {
        margin-bottom: 50px;
        @include breakpoint(x-large) {
            margin-bottom: 35px;
        }
        h1 {
            line-height: normal;
            font-weight: $font-weight-bold;
            letter-spacing: inherit;
            color: $color-black;
        }
    }
    .know-thoughts-wrap {
        background: $color-white;
        margin: 0 12%;
        padding: 40px 60px;
        box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.35);
        h3 {
            text-align: center;
            color: $color-black;
            font-weight: $font-weight-medium;
            margin-bottom: 40px;
        }
        form {
            textarea {
                border: none;
                background-image: repeating-linear-gradient(white, white 54px, #ccc 0px, #ccc 55px, white 55px);
                line-height: 48px;
                height: 110px;
                padding-top: 12px;
                &.form-control + label {
                    bottom: 55px;
                }
                &.form-control:focus + label,
                &.form-control + label.freeze {
                    transform: translateY(-3em);
                    top: 26px;
                } 
            }
            .button-wrap {
                text-align: left;
            }
            .form-group {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    width: 48%;
                    display: inline-block;
                    @media only screen and (max-width: 1500px) {
                        width: 47.3%;
                    }
                }
                &:nth-child(2),
                &:nth-child(4) {
                    margin-right: 34px;
                }
            }
            .form-check-label {
                padding-left: 0px;
                margin: 15px 0px 20px;
            }
            .form-check-label label {
                font-size: 18px;
                position: relative;
                padding-left: 30px;
                font-size: em(15);
                font-weight: $font-weight-medium;
                color: $color-black;
                text-transform: inherit;
            }
            .form-check-label label .new-checkbox {
                  display: inline-block;
                  vertical-align: middle;
                  position: relative;
                  margin-top: -7px;
                  margin-right: 8px;
                  margin-bottom: 0;
                  height: 20px;
                  width: 20px;
                  border: 1px solid #000;
                  position: absolute;
                  left: 0;
                  top: 7px;
            }

            input[type=checkbox] {
                -webkit-appearance: none;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                left: 0;
                top: 7px;
            }
            input[type=checkbox]:checked + span.new-checkbox {
              background: $color-primary;
              width: 20px;
              height: 20px;
              display: inline-block;
              border-color: #000;
            }
            input[type=checkbox]:checked + span.new-checkbox:after {
              content: '';
              position: absolute;
              width: 10px;
              height: 5px;
              background: transparent;
              top: 26%;
              left: 3px;
              right: 0;
              text-align: center;
              border: 2px solid #fff;
              border-top: none;
              border-right: none;
              transform: rotate(-45deg);
            }
        }
    }
}

/*----- ComingSoon Section -----*/

.comingsoon-wrap {
    background-image: linear-gradient(to right, #0076c5 10%, #0090f1 50%);
    background-repeat: no-repeat;
    background-size: 200% auto;
    .sec-title {
        margin-bottom: 50px;
        @include breakpoint(x-large) {
            margin-bottom: 35px;
        }
        h1 {
            color: $color-white;
            font-weight: $font-weight-bold;
        }
    }
    .comingsoon-sec {
        h2 {
            text-align: center;
            color: $color-white;
            font-size: em(50);
            font-weight: $font-weight-bold;
            margin-bottom: 0px;
            @include breakpoint(x-large) {
                font-size: em(40);
            }
        }
        .comingsoon-content {
            margin: 40px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
                width: 33%;
                ul {
                    li {
                        list-style: none;
                        margin-bottom: 80px;
                        max-height: 110px;
                        position: relative;
                        padding-left: 120px;
                        @media only screen and (max-width: 1500px) {
                            padding-left: 95px;
                        }
                        &:last-child {
                            margin-bottom: 0px;
                            height: auto;
                        }
                        h4,
                        p {
                            color: $color-white;
                            font-weight: $font-weight-light;
                        }
                        figure {
                            border: 1px solid $color-white;
                            border-radius: 100%;
                            height: 90px;
                            width: 90px;
                            position: absolute;
                            left: 0;
                            top: -10px;
                            margin-bottom: 0px;
                            @media only screen and (max-width: 1500px) {
                                height: 75px;
                                width: 75px;
                            }
                            img {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 0;
                                right: 0;
                                text-align: center;
                                margin: 0 auto;
                                @media only screen and (max-width: 1500px) {
                                    width: 50px;
                                }
                            }
                        }
                    }
                }
                &:first-child {
                    ul {
                        li {
                            padding-left: 0px;
                            padding-right: 120px;
                            text-align: right;
                            @media only screen and (max-width: 1500px) {
                                padding-right: 95px;
                            }
                            figure {
                                left: inherit;
                                right: 0;
                            }
                        }
                    }
                }
            }
            .img-sec {
                text-align: center;
                margin: 0 40px;
            }
        }
    }
}

/*----- Form -----*/

form {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 23px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        font-family: $sans-serif;
        vertical-align: bottom;
        font-size: 16px;
        font-weight: $font-weight-medium;
        color: $color-black;
        text-transform: inherit;
        @media only screen and (max-width: 1500px) {
            font-size: 12px;
        }
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      width: 16px;
      height: 16px;
      border: 2px solid $color-primary;
      border-radius: 100%;
      background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 8px;
      height: 8px;
      background: $color-primary;
      position: absolute;
      top: 5px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .form-control {
        border-radius: 0px;
        box-shadow: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #d5d5d5;
        padding: 0px;
        &:focus {
            border-top-color: none;
            border-left-color: none;
            border-right-color: none;
            border-bottom-color: $color-black;
        }
    }
    .form-group {
        position: relative;
        margin-bottom: 1.3rem;
    }
    .form-control + label {
        position: absolute;
        left: 0;
        bottom: 0;
        transition: transform 200ms ease;
        pointer-events: none;
        color: $color-black;
        font-size: 15px;
        font-family: $sans-serif;
        font-weight: $font-weight-bold;
        text-transform: capitalize;
    }
    .form-control:focus + label,
    .form-control + label.freeze {
        transform: translateY(-3em);
        top: 2.20em;
    }
    .button-wrap {
        margin: 30px auto 0;
        text-align: center;
    }
}